
<body>

    <h1>Bienvenido {{user.first_name}} {{user.last_name}}</h1>
    <hr>

    <h2>Datos Básicos</h2>
    <div class="userData">
        <p><b>Nombre:</b> {{user.first_name}}</p>
        <p><b>Apellido:</b> {{user.last_name}}</p>
        <p><b>Email:</b> {{user.email}}</p>
        <p><b>Edad:</b> {{user.age}}</p>
    </div>


    <div class="box">
        <h1>Productos en stock</h1>
        {{> productList}}
    </div>

    <div id="chat-container">
        <div id="chat-messages">
            {{#each messages}}
                <div class="message">
                    <strong>{{this.user}}:</strong> {{this.message}}
                </div>
            {{/each}}
        </div>
        <form id="chat-form">
            <input type="text" id="user-input" placeholder="Nombre de usuario" required>
            <input type="text" id="message-input" placeholder="Escribe tu mensaje" required>
            <button type="submit">Enviar</button>
        </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io(); // Conecta con el servidor WebSocket

        // Manejar el envío del formulario
        document.getElementById('chat-form').addEventListener('submit', (event) => {
            event.preventDefault();
            const user = document.getElementById('user-input').value;
            const message = document.getElementById('message-input').value;

            if (user && message) {
                // Enviar el mensaje al servidor a través de WebSocket
                socket.emit('chatMessage', { user, message });

                // Limpiar el campo de entrada del mensaje
                document.getElementById('message-input').value = '';
            }
        });

        // Manejar la recepción de mensajes desde el servidor
        socket.on('message', (data) => {
            const { user, message } = data;
            addMessage(user, message);
        });

        // Función para agregar un mensaje al chat
        function addMessage(user, message) {
            const messageContainer = document.getElementById('chat-messages');
            const messageElement = document.createElement('div');
            messageElement.classList.add('message');
            messageElement.innerHTML = `<strong>${user}:</strong> ${message}`;
            messageContainer.appendChild(messageElement);

            // Desplazarse hacia abajo para mostrar el mensaje más reciente
            messageContainer.scrollTop = messageContainer.scrollHeight;
        }
    </script>
</div>