<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="../../../public/css/productList.css">
</head>
<body>
    <div class="filter-dropdown">
        <label for="category-filter">Filtrar por categoría:</label>
        <select id="category-filter" onchange="filterByCategory(this.value)">
            <option value="">Todas</option>
            <option value="Comestibles">Comestibles</option>
            <option value="Raciones">Raciones</option>
        </select>
    </div>

    <div class="availability-filters">
        <label for="available-filter">Disponibilidad:</label>
        <select id="available-filter" onchange="filterByStatus(this.value)">
            <option value="">Todas</option>
            <option value="true">Disponibles</option>
            <option value="false">No Disponibles</option>
        </select>
    </div>

    {{#if result.isValid}}
        <div class="productList">
            {{#each result.products}}
                <div class="product">
                    <h2>{{title}}</h2>
                    <p>{{description}}</p>
                    <p>Precio: ${{price}}</p>
                    <p>Stock: {{stock}}</p>
                    <button onclick="addToCart('{{_id}}')">Agregar al Carrito</button>
                </div>
            {{/each}}
        </div>

        {{#if result.hasPrevPage}}
            <a href={{result.prevLink}}><< Anterior</a>
        {{/if}}
        &nbsp;
        {{result.page}}
        &nbsp;
        {{#if result.hasNextPage}}
            <a href={{result.nextLink}}>Siguiente >></a>
        {{/if}}
    {{else}}
        <h1>No hay productos para mostrar</h1>
    {{/if}}

    <script>
    // Función para filtrar productos por categoría
    function filterByCategory(category) {
        window.location.href = `/products?category=${category}`;
    }

    // Función para filtrar productos por disponibilidad
    function filterByStatus(status) {
        window.location.href = `/products?status=${status}`;
    }

    // Función para agregar al carrito
    function addToCart(productId) {
        const randCart = {{{randomCart}}};

        fetch(`/api/carts/${randCart._id}/products/${productId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ quantity: 1 }), 
        })
        .then(response => {
            if (response.ok) {
                alert('Producto agregado al carrito.');
            } else {
                alert('Error al agregar el producto al carrito.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
    </script>
</body>
</html>